.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  align-items: start;
  margin: 2rem;
  padding: 1rem;
}

@media (width <= 480px) {
  .container {
    grid-template-columns: 1fr;
    padding: 0.3rem;
    margin: 0.8rem;
    grid-gap: 0.5rem;
  }
}

@media (480px <= width <= 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
    padding: 0.3rem;
    margin: 0.8rem;
    grid-gap: 0.5rem;
  }
}
