.card {
  /* display: flex;
  flex-direction: column; */
  margin: 1rem;
  padding: 1.2rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8); /* Adjust the vertical offset */
  transition: all 0.3s ease;
  /* width: 60%; */
}

.card img {
  cursor: pointer;
  width: 100%; /* Set the width to 100% of the card */
  height: auto; /* Set the height to auto to maintain aspect ratio */
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1.2rem;
  padding: 0.85rem;
  text-align: center;
  color: var(--gray);
  text-shadow: 0 0 10px var(--rosy);
}

.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4); /* Adjust the vertical offset */
  transform: scale(1.02);
}

.card:hover img {
  opacity: 0.8;
  transition: all 0.3s ease;
}

.description {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-style: italic;
  padding: 0.5rem;
  color: var(--gray);
  text-shadow: 0 0 10px var(--rosy);
}
