.card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1.2rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.8); /* Adjust the vertical offset */
  transition: all 0.3s ease-in-out;
}

.card img {
  cursor: pointer;
  width: 100%; /* Set the width to 100% of the card */
  height: auto; /* Set the height to auto to maintain aspect ratio */
}

.card p {
  font-size: 1.2rem;
  margin: 1rem;
  padding: 0.3rem;
  text-align: center;
  color: var(--gray);
  text-shadow: 0 0 10px var(--rosy);
}

/* .card img {
  cursor: pointer;
} */
