.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Inder', sans-serif;
}

.formContainer label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  color: var(--blush);
}

.formContainer input {
  margin: 0.8rem;
  padding: 0.7rem;
  /* text-align: center; */
  font-size: 1rem;
  color: var(--gray);
  background-color: var(--khaki);
  border-radius: 3px;
  border: 2px solid var(--gray);
  font-family: 'Inder', sans-serif;
}

.formContainer input:focus {
  outline: none;
  border-color: var(--rosy);
}

.formContainer button {
  margin: 1.2rem 0.2rem;
  padding: 0.7rem;
  text-align: center;
  font-size: 1rem;
  color: var(--khaki);
  background-color: var(--gray);
  text-shadow: 0 0 10px var(--rosy);
  border-radius: 3px;
  font-family: 'Inder', sans-serif;
}

.formContainer button:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
  background-color: var(--rosy2);
  color: white;
}

.formContainer h2 {
  margin-bottom: 0.5rem;
  color: var(--blush);
}

@media (width <= 680px) {
  .labelContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* to ensure the label-input pairs take up full width */
  }
}
