.authForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 30%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 12px;
  background-color: var(--gray2);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.authForm input {
  width: 50%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid var(--gray);
  font-size: 0.96rem;
}

.authForm input:focus {
  outline: none;
  border-color: var(--rosy);
}

.authForm button {
  width: 50%;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: var(--rosy);
  color: var(--white);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.authForm button:hover {
  background-color: var(--rosy2);
  scale: 1.05;
}

.authForm button:disabled {
  background-color: var(--gray);
  cursor: not-allowed;
}

.authForm button:disabled:hover {
  background-color: var(--gray);
}

.authForm h2 {
  margin-bottom: 1rem;
}

.authForm p {
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.input {
  width: 19%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid var(--gray);
  font-size: 0.96rem;
  background-color: var(--gray2);
  color: var(--gray);
}

.input:focus {
  outline: none;
  border-color: var(--rosy);
}

.input::placeholder {
  font-size: 0.8rem;
  text-align: center;
}

.submit {
  width: 15%;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: var(--rosy);
  color: var(--white);
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.reset {
  width: 20%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: var(--white);
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.submit:hover {
  background-color: var(--rosy2);
  scale: 1.05;
}

.reset:hover {
  background-color: var(--rosy2);
  /* scale: 1.01; */
}

.errorMessage {
  color: var(--rosy);
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Media Queries */

@media (width <= 480px) {
  .authForm {
    max-width: 60%;
  }

  .authForm input {
    width: 70%;
    font-size: 0.8rem;
  }

  .authForm button {
    width: 45%;
    font-size: 0.95rem;
  }

  .errorMessage {
    font-size: 0.8rem;
  }

  .reset {
    width: 55%;
    scale: 0.85;
    /* font-size: 0.73rem; */
  }

  .submit {
    width: 36%;
    /* font-size: 0.88rem; */
    scale: 0.85;
  }

  .input {
    width: 41%;
    font-size: 0.8rem;
  }

  .input::placeholder {
    font-size: 0.7rem;
  }
}

@media (480px <= width <= 630px) {
  .authForm {
    max-width: 50%;
  }

  .authForm input {
    width: 70%;
    font-size: 0.85rem;
  }

  .authForm button {
    width: 40%;
    font-size: 0.98rem;
  }

  .errorMessage {
    font-size: 0.85rem;
  }

  .reset {
    width: 45%;
    scale: 0.89;
  }

  .submit {
    width: 25%;
    scale: 0.9;
  }

  .input {
    width: 35%;
    font-size: 0.8rem;
  }
}

@media (630px <= width <= 886px) {
  .authForm {
    max-width: 40%;
    width: 40%;
  }

  .authForm input {
    width: 65%;
    font-size: 0.9rem;
  }

  .authForm button {
    width: 35%;
    font-size: 1rem;
  }

  .errorMessage {
    font-size: 0.9rem;
  }

  .reset {
    width: 25%;
    scale: 0.9;
  }

  .submit {
    width: 19%;
    scale: 0.9;
  }

  .input {
    width: 23%;
    font-size: 0.9rem;
  }
}
