.formContainer {
  display: flex;
  flex-direction: row;

  place-items: center;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
}

.formContainer button {
  margin: 1.2rem 0.2rem;
  padding: 0.7rem;
  text-align: center;
  font-size: 1rem;
  color: var(--khaki);
  background-color: var(--gray);
  text-shadow: 0 0 10px var(--rosy);
  border-radius: 3px;
}

.formContainer input {
  margin: 0.8rem;
  padding: 0.7rem;
  /* text-align: center; */
  font-size: 1rem;
  color: var(--gray);
  background-color: var(--khaki);
  /* text-shadow: 0 0 2px black; */
}

.warning {
  color: var(--rosy);
  text-shadow: none;
  font-weight: bold;
  margin-top: 1rem;
}
